.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: $footer-backround-color;
}

.footer__container {
  @extend .container;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    align-items: baseline;
  }
}
