.team-card {
  width: 270px;

  background-color: $main-backround-color;

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;

  &:not(:last-child) {
    margin-right: 30px;
  }
}

.team-card__description-container {
  padding: 30px 32px;
}

.team-card__name {
  @extend %no-margin;

  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card__position {
  @extend %no-margin;

  margin-bottom: 16px;

  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-card__list {
  @extend %list;

  display: flex;
}

.team-card__item {
  width: 44px;
  height: 44px;

  &:not(:last-child) {
    margin-right: 10px;
  }
}

.team-card__link {
  @extend %link-decor;

  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  color: $main-icon-color;
  border-radius: 50%;

  @include double-animation(color, background-color);

  &:hover,
  &:focus {
    color: $white-text-color;
    background-color: $accent-color;
  }
}

.team-card__icon {
  fill: currentColor;
}
