// backgrounds
$main-backround-color: #fff;
$secondary-backround-color: #f5f4fa;
$footer-backround-color: #2f303a;

// text
$title-text-color: #212121;
$main-text-color: #757575;
$white-text-color: #fff;
$black-text-color: #000;
$footer-link-text-color: rgba(255, 255, 255, 0.6);

// accent
$accent-color: #2196f3;

// icon
$main-icon-color: #afb1b8;

// fonts
$main-font-family: 'Roboto', sans-serif;
$logo-font-family: 'Raleway', sans-serif;

// transition
$transition-timing: 250ms;
$transition-function: cubic-bezier(0.4, 0, 0.2, 1);
