.clients {
  @extend %list;

  display: flex;
  flex-wrap: wrap;
}

.clients__item {
  width: calc((100% - 30px) / 2);
  height: 92px;

  @media screen and (max-width: 767px) {
    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(-n + 4) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 3);

    &:nth-child(odd) {
      margin-right: 0;
    }

    &:not(:nth-child(3n)) {
      margin-right: 30px;
    }

    &:nth-child(-n + 4) {
      margin-bottom: 0;
    }

    &:nth-child(-n + 3) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 150px) / 6);

    &:nth-child(-n + 3) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.clients__link {
  @extend %link-decor;

  display: flex;
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  color: $main-icon-color;
  border: 1px solid $main-icon-color;
  border-radius: 4px;

  @include double-animation(color, border-color);

  &:hover,
  &:focus {
    color: $accent-color;
    border-color: $accent-color;
  }
}

.client__icon {
  fill: currentColor;
}
