.gallery-card {
  @extend %link-decor;

  display: inline-block;

  @include single-animation(box-shadow);

  &:hover,
  &:focus {
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
  }
}

.gallery-card__overlay-thumb {
  position: relative;
  overflow: hidden;
}

.gallery-card__overlay {
  position: absolute;
  left: 0;
  top: 0;

  width: 100%;
  height: 100%;
  padding: 63px 24px;

  font-size: 18px;
  line-height: 1.55;

  color: $white-text-color;
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  @include single-animation(transform);

  .gallery-card:hover &,
  .gallery-card:focus & {
    transform: translateY(0);
  }
}

.gallery-card__text {
  @extend %no-margin;
}

.gallery-card__description-container {
  padding: 20px 24px;

  border-left: 1px solid #eee;
  border-right: 1px solid #eee;
  border-bottom: 1px solid #eee;
}

.gallery-card__title {
  @extend %no-margin;

  margin-bottom: 4px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.gallery-card__type {
  @extend %no-margin;

  color: $main-text-color;
  font-size: 16px;
  line-height: 1.88;
  text-decoration: none;
}
