.gallery-list-wrapper {
  position: relative;

  overflow: hidden;
}

.gallery-list {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin: -15px;
  }
}

.gallery-list__item {
  position: relative;
  z-index: -1;

  display: flex;

  width: 100%;

  &--hidden {
    position: absolute;
    z-index: -2;
    opacity: 0;
    transform: translatey(-100%);
    visibility: hidden;

    transition: none;
  }

  @include triple-animation(opacity, transform, visibility);

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: calc((100% - 60px) / 2);
    margin: 15px;
  }

  @media screen and (min-width: 1200px) {
    width: calc((100% - 90px) / 3);
  }
}
