.features {
  @extend %list;

  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
  }
}

.features__item {
  width: 100%;

  @media screen and (max-width: 767.98px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 768px) {
    width: 354px;

    &:nth-child(odd) {
      margin-right: 30px;
    }

    &:nth-child(-n + 2) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 1200px) {
    width: 270px;

    &:nth-child(-n + 2) {
      margin-bottom: 0;
    }

    &:not(:last-child) {
      margin-right: 30px;
    }
  }
}

.features__icon-container {
  display: flex;
  width: 100%;
  height: 120px;
  margin-bottom: 30px;

  justify-content: center;
  align-items: center;

  background-color: $secondary-backround-color;
  border-radius: 4px;
}

.features__title {
  @extend %no-margin;

  margin-bottom: 10px;

  color: $title-text-color;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;

  @media screen and (max-width: 767.98px) {
    text-align: center;
  }
}

.features__text {
  @extend %no-margin;

  line-height: 1.71;
}
