.modal {
  position: absolute;
  top: 50%;
  left: 50%;

  width: 528px;
  padding: 40px;

  background-color: $main-backround-color;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  opacity: 1;
  transform: translate(-50%, -50%) scale(1);

  @include double-animation(transform, opacity);

  .modal-backdrop.is-hidden & {
    opacity: 0;
    transform: translate(-50%, -50%) scale(1.5);
  }
}

.modal__title {
  display: flex;
  justify-content: center;
  margin-bottom: 12px;

  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;

  color: $title-text-color;
}
