.header__mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 8;

  width: 100%;
  height: 100%;
  padding: 48px 40px;

  background-color: $main-backround-color;

  overflow-y: scroll;

  visibility: hidden;

  transform: translateX(-100%);

  @include double-animation(transform, visibility);

  &.is-open {
    visibility: visible;

    transform: translateX(0);
  }

  @media screen and (min-width: 768px) {
    display: none;
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  max-width: 400px;
  height: 100%;
  margin: 0 auto;
}

.mobile-menu__navigation {
  margin-bottom: auto;
}

.mobile-menu__navigation-list {
  @extend %list;

  margin-bottom: 64px;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  @extend %link-decor;

  font-weight: 500;
  @include responsive-font-size(40);
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $title-text-color;

  @include single-animation(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }

  @media screen and (min-width: 480px) {
    font-size: 40px;
  }
}

.mobile-menu__contacts {
  @extend %list;

  margin-bottom: 64px;
}

.mobile-menu__contacts-tel {
  @extend %link-decor;

  font-weight: 500;
  @include responsive-font-size(34);
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $accent-color;

  @include single-animation(color);

  &:hover,
  &:focus {
    color: $title-text-color;
  }

  @media screen and (min-width: 480px) {
    font-size: 34px;
  }
}

.mobile-menu__contacts-mail {
  @extend %link-decor;

  font-weight: 500;
  @include responsive-font-size(24);
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $main-text-color;

  @include single-animation(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @media screen and (min-width: 480px) {
    font-size: 24px;
  }
}

.mobile-menu__socials {
  @extend %list;

  display: flex;
  align-items: center;
}

.mobile-menu__socials-item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: '';

    display: inline-block;

    width: 2px;
    height: 22px;

    margin: 0 10px;

    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__socials-link {
  @extend %link-decor;

  @include responsive-font-size(18);
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;

  @include single-animation(color);

  &:hover,
  &:focus {
    color: $title-text-color;
  }

  @media screen and (min-width: 480px) {
    font-size: 18px;
  }
}
