.header__mobile-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }

  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: $main-backround-color;

  transform: translateX(-100%);

  @include single-animation(transform);

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu {
  height: 100%;
}

.mobile-menu__navigation {
  margin-bottom: auto;
}

.mobile-menu__navigation-list {
  @extend %list;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  @extend %link-decor;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $title-text-color;

  @include single-animation(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}
