.header__mobile-menu {
  @media screen and (min-width: 768px) {
    display: none;
  }

  position: absolute;
  top: 0;
  left: 0;
  z-index: 8;

  width: 100vw;
  height: 100vh;
  padding: 48px 40px;

  background-color: $main-backround-color;

  transform: translateX(-150%);

  @include single-animation(transform);

  &.is-open {
    transform: translateX(0);
  }
}

.mobile-menu {
  display: flex;
  flex-direction: column;
  height: 100%;
}

.mobile-menu__navigation {
  margin-bottom: auto;
}

.mobile-menu__navigation-list {
  @extend %list;
}

.mobile-menu__item:not(:last-child) {
  margin-bottom: 32px;
}

.mobile-menu__link {
  @extend %link-decor;

  font-weight: 500;
  font-size: 40px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $title-text-color;

  @include single-animation(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current {
    color: $accent-color;
  }
}

.mobile-menu__contacts {
  @extend %list;

  margin-bottom: 64px;
}

.mobile-menu__contacts-tel {
  @extend %link-decor;

  font-weight: 500;
  font-size: 34px;
  line-height: 1.18;
  letter-spacing: 0.02em;

  color: $accent-color;

  &:hover,
  &:focus {
    color: $title-text-color;
  }

  @include single-animation(color);
}

.mobile-menu__contacts-mail {
  @extend %link-decor;

  font-weight: 500;
  font-size: 24px;
  line-height: 1.17;
  letter-spacing: 0.02em;

  color: $main-text-color;

  &:hover,
  &:focus {
    color: $accent-color;
  }

  @include single-animation(color);
}

.mobile-menu__socials {
  @extend %list;

  display: flex;
  align-items: center;

  padding-bottom: 60px;
}

.mobile-menu__socials-item {
  display: flex;
  align-items: center;

  &:not(:last-child)::after {
    content: '';

    display: inline-block;

    width: 2px;
    height: 22px;

    margin: 0 10px;

    background-color: rgba(33, 33, 33, 0.2);
  }
}

.mobile-menu__socials-link {
  @extend %link-decor;

  font-size: 16px;
  line-height: 1.22;
  letter-spacing: 0.02em;

  color: $accent-color;

  @include single-animation(color);

  &:hover,
  &:focus {
    color: $title-text-color;
  }
}
