.header-contacts {
  @extend %list;

  display: flex;
  margin-left: auto;
}

.header-contacts__item:not(:last-child) {
  margin-right: 30px;
}

.header-contacts__link {
  @extend %link-decor;

  display: flex;
  align-items: center;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $main-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include single-animation(color);

  &:hover,
  &:focus {
    color: $accent-color;
  }
}

.header-contacts__icon {
  margin-right: 10px;
  fill: currentColor;
}
