.header-navigation {
  display: flex;
}

.header-menu {
  @extend %list;

  display: flex;
}

.header-menu__item {
  position: relative;

  &:not(:last-child) {
    margin-right: 50px;
  }
}

.header-menu__link {
  @extend %link-decor;

  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

  color: $title-text-color;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;

  @include single-animation(color);

  &--current,
  &:hover,
  &:focus {
    color: $accent-color;
  }

  &--current::after {
    content: '';

    position: absolute;
    left: 0;
    bottom: -1px;

    width: 100%;
    height: 4px;

    background-color: $accent-color;
    border-radius: 2px;
  }
}
